body {
	background-image: url(blue_wave_menu_background.jpg);
	background-repeat: no-repeat;
	background-size: 2000px 1000px;
}

h1,
h2 {
	text-align: center;
}

h1 {
	float: left;
}

h2 {
	border: 1px solid black;
	font-size: 50px;
	padding: 50px;
	font-family: Helvetica, sans-serif;
}

h4 {
	text-align: center;
}

.container {
	margin-top: 25px;
	padding: 15px;
}

#backButton {
	margin: 1px;
	padding: 5px;
	text-decoration: none;
	border: 2px solid black;
	font-size: 20px;
}

#gameButton {
	height: 50px;
	width: 500px;
	text-align: center;
	margin: 10px;
	margin-left: 275px;
	border: 0.1em solid #FFFFFF;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
	transition: all 0.3s;
}

#gameButton:hover {
	color: #000000;
	background-color: #FFFFFF;
	border: 0.1em solid #000000;
}

@media all and (max-width:30em) {
	#gameButton {
		display: block;
		margin: 0.4em auto;
	}
}
